@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: lightblue;
}

h1{
    color: #FFF
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 16px;
    padding: 10px 0 0 10px;
    margin-bottom: 4px;
}

.sidebar_navigation .logo {
    background: #121212;
    display: flex;
    border-radius:8px;
    padding: 16px 0 0 10px; 
}

.sidebar_navigation .logo img{
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 10px;
}

.sidebar nav ul li{
    padding: 10px 0;
}
.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 6000;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.library {
    background-color: #121212;
    border-radius:16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color:#b3b3b3;
    font-weight: 600;
    font-size:14px;
    margin-top:1px;
    
}

.library .library_content{
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.library .library_button {
    display:flex;
    margin-right:10px;
    color:#b3b3b3;
    background-color:transparent;
    border:0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    text-align:center;
    text-decoration:none;
    text-transform: none;
    padding:20px 10px;
    cursor:pointer;
}

.library .library_button .fa {
    font-size:20px;
    margin-right:10px;
    font-weight: 300;
    padding-right:8px;
}

.library .library_content .fa-plus {
    margin:24px 10px;
}

.library .section-playlist {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color:#b3b3b3;
    font-weight:600;
    font-size:14px;
    margin:8px 0;
    padding: 16px 20px;
    border-radius:10px;
}

.section-playlist .section-playlist_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.section-playlist_content .text{
    padding-bottom:14px;
    color:#fff;
    font-family:"Inter", sans-serif;
}

.section-playlist_content .title{
    font-weight:700;
}

.section-playlist_content .subtitle{
    font-weight:500;
    font-size:12px;
}

.section-playlist_content .section-playlist_button {
    display:flex;
    justify-content: center;
    background-color: #fff;
    color:#000;
    border-radius:20px;
    font-size:12px;
    font-weight:700;
    font-family: "Inter", sans-serif;
    text-decoration:none;
    text-transform: none;
    padding: 10px;
    border:0px;
    width: 113px;
    margin-top:12px;
    cursor:pointer;
}

.sidebar .cookies {
    margin: 275px 20px 0 20px;
}

.sidebar .cookies a{
    color:#b3b3b3;
    font-weight:500;
    font-size:10px;
    text-decoration:none;
}

.sidebar .cookies a:hover{
    text-decoration:underline;
}

.sidebar .languages .languages_button{
    align-items: center;
    background-color: transparent;
    border:1px solid #878787;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    width:170px;
    margin: 8px;
    padding:8px;
    border-radius: 20px;
}